// Define variables for your color scheme

// For example:
$black: #303030;
$beige: #F2C299;
$yellow: #F29F05;
$orange: #D96704;
$green: #3E5902;
$medium-gray: #B7B7B7;
$light-gray: #FAFAFA;
$dark-green: #012611

