.form {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 50px;
  color: rgba(0,0,0,0.3);
  width: 100%;
  color: #303030
}

.form-actions {
  display: flex;
  justify-content: space-around;
  padding-right: 18px;
  padding-left: 18px;
}

.form-group  {
  display: flex;

  label {
    width: 50%;
    padding-right: 2em;
  }

}

// .form-group label {}

h1 {
  color: #303030;
  font-size: 32px;
  justify-content: center;
  text-align: left;
  vertical-align: middle;
  margin: 20px;
}

#title_seed {
  font-size: 36px
}

.btn-form {
  width: 30%;
  margin: 50px;
  background-color:: #3E5902
}

.new_seedpack {
  width: 50%
}
