.form {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  padding-right: 18px;
  padding-left: 18px;
}


h1 {
  color: green;
  font-size: 24px;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

#title_seed {
  font-size: 36px
}

.btn-form {
  width: 30%
}

.new_seedpack {
  width: 100%
}
