.form {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  color: rgba(0,0,0,0.3);
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  padding-right: 18px;
  padding-left: 18px;
}


h1 {
  color: #303030;
  font-size: 32px;
  justify-content: center;
  text-align: left;
  vertical-align: middle;
  margin: 20px;
}

#title_seed {
  font-size: 36px
}

.btn-form {
  width: 30%;
  margin: 50px;
  background-color:: #3E5902
}

.new_seedpack {
  width: 50%
}
