.navbar-lewagon {
  justify-content: space-between;
  background: $green;
  max-height: 5em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand p {
  color: white;
  font-family: pacifico;
  font-size: 48px;
  margin: 0px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  position: absolute;
  position: absolute;
  bottom: 23%;
  right: 75px;
}
